/* CSS Document */

body{
	font-family: "IM Fell DW Pica", "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 15px;
}

h2{
	font-family: 'IM Fell Double Pica SC', serif;
	font-weight: 400;
	font-size: 22px;
	text-align: center;
	color: #bc250c;
}

h3{
	font-family: 'IM Fell Double Pica SC', serif;
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	color: #bc250c;
}

.page-left{
	width: 552px;
	height: 682px;
	background-image: url("../images/LeftPage2.jpg");
	background-size: cover;

}

.left-wrapper{
	padding-top: 45px;
	padding-left: 50px;
	padding-right: 70px;
}

.page-right{
	width: 552px;
	height: 682px;
	background-image: url("../images/RightPage2.jpg");
	background-size: cover;
}

.right-wrapper{
	padding-top: 45px;
	padding-left: 70px;
	padding-right: 50px;
}

.list2{
	padding: 0 0 0 0;
}

.list2 li {
    display: inline-block;
	width: 49%;
}

a.link2 {
	color: black;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
a.link2:hover {
    color: #bc250c;
	text-decoration: none
}

.circus{
	position: relative;
	top: -25px
}

.frontcover{
	width: 552;
	height: 682px;
	background-image: url("../images/Cover2.jpg");
	background-size: cover;

}

.coverboard{
	width: 552px;
	height: 682px;
	background-image: url("../images/Canvas.jpg");
	background-size: cover;

}


#overlay {
   position: fixed;
   height: 100%; 
   width: 100%;
   top: 0;
   right: 0;  
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   display: none;
	z-index: 20;
}

#popup {
   width: 850px;
   height: 660px;
   padding: 20px;
   position: relative;
   background-image: url("../images/Wrinkled.jpg");
   margin: 20px auto;
	z-index:21;
	overflow: scroll;
}

#close {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   color: #000;
}

.poem-image{
	position: absolute;
	top: 20px;
	left: 0px;
	display: inline-block;
}

.poem {
	font-size: 20px;
	width: 350px;
	position: absolute;
	top: 20px;
	left: 500px;
	display: inline-block;
}